/bin
/adjacency_links.txt
/derby.log
/new_adjacency_link.txt
/new.txt
/output_file_updated.txt
/output_file.txt
/updated_adjacency_links.txt
/updated_adjacency_links_wrong.txt
/new_adjacency_1.txt
/output_file_updated_newwww.txt
/output_file_updated_new2.txt
/output_file_updated_new3.txt
/outputTwoNewWarc.txt
